<div class="text-center">
    <h1>@ViewBag.Title</h1>
</div>
<table class="layui-table text-center" lay-skin="line">
    <thead>
    <tr>
        <th class="text-center">Id</th>
        <th class="text-center">名字</th>
        <th class="text-center">城市</th>
        <th class="text-center">国家</th>
        <th class="text-center">班级</th>
        <th class="text-center">操作</th>
    </tr>
    </thead>
    <tbody>
    @Html.DisplayForModel()
    </tbody>
</table>