@using Homework06.Application.Models
@model Homework06.Application.Models.Course
<form class="layui-form" asp-action="Update">
    <div class="layui-form-item">
        <label asp-for="CrsDesc" class="layui-form-label"></label>
        <div class="layui-input-block">
            <input asp-for="CrsDesc" placeholder="请输入CrsDesc" autocomplete="off" class="layui-input">
        </div>
        <span asp-validation-for="CrsDesc" class="text-danger"></span>
    </div>
    <div class="layui-form-item">
        <label asp-for="CrsUnits" class="layui-form-label"></label>
        <div class="layui-input-block">
            <input asp-for="CrsUnits" placeholder="请输入CrsUnits" autocomplete="off" class="layui-input">
        </div>
        <span asp-validation-for="CrsUnits" class="text-danger"></span>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
        </div>
    </div>
</form>
@section Scripts
{
    <script>
        layui.use('form', function () {
            var form = layui.form;
            form.render();
        });
    </script>

}
